__pycache__/
/output.sas
/output.theory
/sas_plan
/sas_plan.*
/builds/
/experiments/issue*/.venv/
/experiments/issue*/data/
/misc/.tox/
/misc/autodoc/downward-xmlrpc.secret
/src/translate/output.sas
/src/translate/output.theory